@model AppGestionEMS.Models.AsignacionDocentes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AsignacionDocentes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.curso.promocion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curso.promocion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grupo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grupo.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profesor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profesor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numCreditosAsignados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numCreditosAsignados)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
